* text eol=lf

# Denote all files that are truly binary and should not be modified
*.ttf binary
*.png binary
*.pdf binary
*.webp binary
*.woff binary
*.glb binary
*.gltf binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff2 binary
