@import "../../_globalColor";

.main-button {
  background-color: $buttonColor;
  border: none;
  color: $textColorDark;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  will-change: box-shadow, transform;
  transition: box-shadow 0.15s, transform 0.15s;
  box-shadow:
    rgba(40, 10, 70, 0.28) 0 2px 4px,
    rgba(40, 10, 70, 0.18) 0 7px 13px -3px,
    rgba(40, 10, 70, 0.9) 0 -3px 0 inset;
}
.main-button:hover {
  box-shadow:
    rgba(40, 10, 70, 0.34) 0 4px 8px,
    rgba(40, 10, 70, 0.24) 0 7px 13px -3px,
    rgba(40, 10, 70, 0.9) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.main-button:active {
  box-shadow: rgba(40, 10, 70, 0.9) 0 3px 7px inset;
  transform: translateY(2px);
}
.project-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.project-button > .main-button {
  margin-right: 0 !important;
}
/* Media Query */
@media (max-width: 768px) {
  .main-button {
    font-size: 0.938rem;
    padding: 12px 18px;
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .main-button {
    font-size: 0.75rem;
  }
}
