@import "./globalColor";

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $darkBackground;
}

#root {
  min-height: 100vh;
  background-color: $darkBackground;
}

/* in case your wrapper is used */
.dark-mode {
  min-height: 100vh;
  background-color: $darkBackground;
}

html, body {
  background: $darkBackground;
}

.dark-mode {
  min-height: 100vh;
  background: $darkBackground;
  color: $textColorDark;
}

.dark-mode p,
.dark-mode li,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode span {
  color: $textColorDark;
}